

@model PlanoContaModel



<h3>Criar Plano de Conta</h3>

@{


    var vDescricao = "";
    var vTipo = " ";
    var  vIdPlano = 0;

    @if (ViewBag.Registro != null)
    {
        try
        {
            vIdPlano = int.Parse(@ViewBag.Registro.IdPlano.ToString());

            vDescricao = @ViewBag.Registro.Descricao.ToString();
            vTipo = @ViewBag.Registro.Tipo.ToString();
        }
        catch (Exception ex)
        {
            throw;
        }
    }


}


<form asp-controller="PlanoConta" asp-action="CriarPlanoConta">

    <div class="form-group">
        <label> Descrição:</label>
         <input type="text" class="form-control" asp-for="Descricao" value="@vDescricao" />
      <span asp-validation-for="Descricao" class="text-danger"></span> 
        <input type="hidden" asp-for="IdPlano" value="@vIdPlano" />

     
    </div>

    <div class="form-group">
        <label>Tipo:</label>


        @{
            if (vTipo == "R")
            {
                <div class="radio"> <label><input type="radio" asp-for="Tipo" value="R" checked > Receita </label></div>
                <div class="radio"> <label><input type="radio" asp-for="Tipo" value="D"  unchecked > Despesa </label></div>

            }
            else
            {
                <div class="radio"> <label><input type="radio" asp-for="Tipo" value="R" unchecked  > Receita </label></div>
                <div class="radio"> <label><input type="radio" asp-for="Tipo" value="D" checked > Despesa </label></div>

            }

        }

    </div>

    <button type="submit" class="btn btn-block btn-success">Registrar</button>
</form>
